## Datasets

In [24]:
import pandas as pd

data1 = pd.read_csv('dataset1.csv')
data1.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

In [25]:
import pandas as pd

data2 = pd.read_csv('dataset2.csv')
data2.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",1
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",3
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,4
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",5
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,4

In [26]:
import pandas as pd

data3 = pd.read_csv('dataset3.csv')
data3.head()

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget,revenue,country,genre1,crew1
0,Creed III,03-02-2023,73,"Drama, Action","After dominating the boxing world, Adonis Cree...","Michael B. Jordan, Adonis Creed, Tessa Thompso...",Creed III,Released,English,75000000.0,2.716167e+08,AU,Drama,Michael B. Jordan
1,Avatar: The Way of Water,12/15/2022,78,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,"Sam Worthington, Jake Sully, Zoe Saldaña, Neyt...",Avatar: The Way of Water,Released,English,460000000.0,2.316795e+09,AU,Science Fiction,Sam Worthington
2,The Super Mario Bros. Movie,04-05-2023,76,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...","Chris Pratt, Mario (voice), Anya Taylor-Joy, P...",The Super Mario Bros. Movie,Released,English,100000000.0,7.244590e+08,AU,Animation,Chris Pratt
3,Mummies,01-05-2023,70,"Animation, Comedy, Family, Adventure, Fantasy","Through a series of unfortunate events, three ...","Óscar Barberán, Thut (voice), Ana Esther Albor...",Momias,Released,"Spanish, Castilian",12300000.0,3.420000e+07,AU,Animation,Óscar Barberán
4,Supercell,03/17/2023,61,Action,Good-hearted teenager William always lived in ...,"Skeet Ulrich, Roy Cameron, Anne Heche, Dr Quin...",Supercell,Released,English,77000000.0,3.409420e+08,US,Action,Skeet Ulrich

In [1]:
import pandas as pd

data4 = pd.read_csv('dataset4.csv')
data4.head()

,title,year,certificate,duration,genre,rating,description,stars,votes,genre1,stars1
0,Cobra Kai,(2018– ),TV-14,30 min,"Action, Comedy, Drama",8.5,Decades after their 1984 All Valley Karate Tou...,"['Ralph Macchio, ', 'William Zabka, ', 'Courtn...",177031.0,Action,Ralph Macchio
1,The Crown,(2016– ),TV-MA,58 min,"Biography, Drama, History",8.7,Follows the political rivalries and romance of...,"['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...",199885.0,Biography,Claire Foy
2,Better Call Saul,(2015–2022),TV-MA,46 min,"Crime, Drama",8.9,The trials and tribulations of criminal lawyer...,"['Bob Odenkirk, ', 'Rhea Seehorn, ', 'Jonathan...",501384.0,Crime,Bob Odenkirk
3,Devil in Ohio,-2022,TV-MA,356 min,"Drama, Horror, Mystery",5.9,When a psychiatrist shelters a mysterious cult...,"['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...",9773.0,Drama,Emily Deschanel
4,Cyberpunk: Edgerunners,(2022– ),TV-MA,24 min,"Animation, Action, Adventure",8.6,A Street Kid trying to survive in a technology...,"['Zach Aguilar, ', 'Kenichiro Ohashi, ', 'Emi ...",15413.0,Animation,Zach Aguilar

## Data Preprocessing

Dataset 1

In [28]:
missing_data = data1.isnull()
missing_data_count = missing_data.sum(axis=0)
missing_data_count

name           0
rating        77
genre          0
year           0
released       2
score          3
votes          3
director       0
writer         3
star           1
country        3
budget      2171
gross        189
company       17
runtime        4
dtype: int64

In [29]:
for col in data1.columns:
  if data1[col].dtype == 'object':
    data1[col].fillna(data1[col].mode()[0], inplace=True)
  else:
    data1[col].fillna(data1[col].mean(), inplace=True)

In [30]:
data1.drop_duplicates(inplace=True)

In [31]:
categorical_columns = ['rating', 'genre', 'director', 'star', 'country', 'company']
data1e = pd.get_dummies(data1, columns=categorical_columns)

Dataset 2

In [32]:
missing_data = data2.isnull()
missing_data_count = missing_data.sum(axis=0)
missing_data_count

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
score              0
dtype: int64

In [33]:
for col in data2.columns:
  if data2[col].dtype == 'object':
    data2[col].fillna(data2[col].mode()[0], inplace=True)
  else:
    data2[col].fillna(data2[col].mean(), inplace=True)

In [34]:
data2.drop_duplicates(inplace=True)

In [35]:
categorical_columns = ['type', 'director']
data2e = pd.get_dummies(data2, columns=categorical_columns)

Dataset 3

In [36]:
missing_data = data3.isnull()
missing_data_count = missing_data.sum(axis=0)
missing_data_count

names          0
date_x         0
score          0
genre         85
overview       0
crew          56
orig_title     0
status         0
orig_lang      0
budget         0
revenue        0
country        0
genre1        85
crew1         56
dtype: int64

In [37]:
for col in data3.columns:
  if data3[col].dtype == 'object':
    data3[col].fillna(data3[col].mode()[0], inplace=True)
  else:
    data3[col].fillna(data3[col].mean(), inplace=True)

In [38]:
data3.drop_duplicates(inplace=True)

In [39]:
categorical_columns = ['genre1', 'crew1', 'orig_lang', 'country']
data3e = pd.get_dummies(data3, columns=categorical_columns)

Dataset 4

In [2]:
missing_data = data4.isnull()
missing_data_count = missing_data.sum(axis=0)
missing_data_count

title             0
year            527
certificate    3453
duration       2036
genre            73
rating         1173
description       0
stars             0
votes          1173
genre1           73
stars1            0
dtype: int64

In [3]:
for col in data4.columns:
  if data4[col].dtype == 'object':
    data4[col].fillna(data4[col].mode()[0], inplace=True)
  else:
    data4[col].fillna(data4[col].mean(), inplace=True)

In [4]:
data4.drop_duplicates(inplace=True)

## Decision Tree

Import Libraries

In [65]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score

Dataset 1

In [66]:
features = data1e.drop(['name', 'released', 'writer', 'score'], axis=1).columns
target = 'score'

X = data1e[features]
y = data1e[target]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

regressor = DecisionTreeRegressor(random_state=42)

regressor.fit(X_train, y_train)

y_pred = regressor.predict(X_test )

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse:.2f}")
print(f"R-squared: {r2:.2f}")

Mean Squared Error: 0.70
R-squared: 0.29

Dataset 2

In [19]:
features = data2e.drop(['show_id', 'title', 'date_added', 'duration', 'description', 'score'], axis=1).columns
target = 'score'

X = data2e[features]
y = data2e[target]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

regressor = DecisionTreeRegressor(random_state=42)

regressor.fit(X_train, y_train)

y_pred = regressor.predict(X_test )

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse:.2f}")
print(f"R-squared: {r2:.2f}")

Mean Squared Error: 12.04
R-squared: -0.92

Dataset 3

In [ ]:
features = data3e.drop(['names', 'date_x', 'overview', 'orig_title', 'genre', 'crew', 'status', 'score'], axis=1).columns
target = 'score'

X = data3e[features]
y = data3e[target]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

regressor = DecisionTreeRegressor(random_state=42)

regressor.fit(X_train, y_train)

y_pred = regressor.predict(X_test )

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse:.2f}")
print(f"R-squared: {r2:.2f}")

Mean Squared Error: 97.44
R-squared: 0.41

Dataset 4

In [ ]:
categorical_columns = ['certificate', 'genre1', 'stars1']
data4e = pd.get_dummies(data4, columns=categorical_columns)

features = data4e.drop(['year', 'title', 'description', 'duration', 'genre', 'stars', 'rating'], axis=1).columns
target = 'rating'

X = data4e[features]
y = data4e[target]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

regressor = DecisionTreeRegressor(random_state=42)

regressor.fit(X_train, y_train)

y_pred = regressor.predict(X_test )

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse:.2f}")
print(f"R-squared: {r2:.2f}")

Mean Squared Error: 1.20
R-squared: 0.07

## KNN

Import Libraries

In [45]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, r2_score

 Dataset 1

In [46]:
categorical_columns = ['rating', 'genre', 'director', 'star', 'country', 'company']
data1e = pd.get_dummies(data1, columns=categorical_columns)

features = data1e.drop(['score', 'name', 'released', 'writer'], axis=1).columns
target = 'score'

X = data1e[features]
y = data1e[target]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

k_neighbors = 28

regressor = KNeighborsRegressor(n_neighbors=k_neighbors)

regressor.fit(X_train, y_train)

y_pred = regressor.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse:.2f}")
print(f"R-squared: {r2:.2f}")

Mean Squared Error: 0.92
R-squared: 0.06

Dataset 2

In [56]:
categorical_columns = ['type', 'director', 'rating', 'listed_in', 'country']
data2e = pd.get_dummies(data2, columns=categorical_columns)

features = data2e.drop(['score', 'show_id', 'title', 'date_added', 'duration', 'description', 'cast'], axis=1).columns
target = 'score'

X = data2e[features]
y = data2e[target]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

k_neighbors = 12

regressor = KNeighborsRegressor(n_neighbors=k_neighbors)

regressor.fit(X_train, y_train)

y_pred = regressor.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse:.2f}")
print(f"R-squared: {r2:.2f}")

Mean Squared Error: 6.84
R-squared: -0.09

Dataset 3

In [57]:
categorical_columns = ['genre1', 'crew1', 'orig_lang', 'country']
data3e = pd.get_dummies(data3, columns=categorical_columns)

features = data3e.drop(['score', 'names', 'date_x', 'overview', 'orig_title', 'genre', 'crew', 'status'], axis=1).columns
target = 'score'

X = data3e[features]
y = data3e[target]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

k_neighbors = 12

regressor = KNeighborsRegressor(n_neighbors=k_neighbors)

regressor.fit(X_train, y_train)

y_pred = regressor.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse:.2f}")
print(f"R-squared: {r2:.2f}")

Mean Squared Error: 93.28
R-squared: 0.44

Dataset 4

In [37]:
categorical_columns = ['certificate', 'genre1', 'stars1']
data4e = pd.get_dummies(data4, columns=categorical_columns)

features = data4e.drop(['rating', 'year', 'title', 'description', 'duration', 'genre', 'stars'], axis=1).columns
target = 'rating'

X = data4e[features]
y = data4e[target]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

k_neighbors = 5

regressor = KNeighborsRegressor(n_neighbors=k_neighbors)

regressor.fit(X_train, y_train)

y_pred = regressor.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse:.2f}")
print(f"R-squared: {r2:.2f}")

Mean Squared Error: 1.40
R-squared: -0.08

## SVR

Import Libraries

In [5]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler

Dataset 1

In [68]:
categorical_columns = ['rating', 'genre', 'director', 'star', 'country', 'company']
data1e = pd.get_dummies(data1, columns=categorical_columns)

features = data1e.drop(['name', 'released', 'writer'], axis=1).columns
target = 'score'

X = data1e[features]
y = data1e[target]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

regressor = SVR(kernel='linear')

regressor.fit(X_train_scaled, y_train)

y_pred = regressor.predict(X_test_scaled)

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse:.2f}")
print(f"R-squared: {r2:.2f}")

Mean Squared Error: 0.01
R-squared: 0.99

Dataset 2

In [69]:
categorical_columns = ['director']
data2e = pd.get_dummies(data2, columns=categorical_columns)

features = data2e.drop(['score', 'type', 'show_id', 'title', 'date_added', 'duration', 'description', 'cast', 'rating', 'listed_in', 'country'], axis=1).columns
target = 'score'

X = data2e[features]
y = data2e[target]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

regressor = SVR(kernel='linear')

regressor.fit(X_train_scaled, y_train)

y_pred = regressor.predict(X_test_scaled)

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse:.2f}")
print(f"R-squared: {r2:.2f}")

Mean Squared Error: 7.34
R-squared: -0.17

Dataset 3

In [ ]:
categorical_columns = ['genre1', 'crew1']
data3e = pd.get_dummies(data3, columns=categorical_columns)

features = data3e.drop(['score', 'names', 'date_x', 'overview', 'orig_title', 'genre', 'crew', 'status', 'orig_lang', 'country'], axis=1).columns
target = 'score'

X = data3e[features]
y = data3e[target]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

regressor = SVR(kernel='linear')

regressor.fit(X_train_scaled, y_train)

y_pred = regressor.predict(X_test_scaled)

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse:.2f}")
print(f"R-squared: {r2:.2f}")

Dataset 4

In [6]:
categorical_columns = ['stars1']
data4e = pd.get_dummies(data4, columns=categorical_columns)

features = data4e.drop(['certificate', 'genre1', 'rating', 'year', 'title', 'description', 'duration', 'genre', 'stars'], axis=1).columns
target = 'rating'

X = data4e[features]
y = data4e[target]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

regressor = SVR(kernel='linear')

regressor.fit(X_train_scaled, y_train)

y_pred = regressor.predict(X_test_scaled)

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse:.2f}")
print(f"R-squared: {r2:.2f}")

## Linear Regression

Import Libraries

In [58]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler 
from sklearn.metrics import mean_squared_error,r2_score, mean_absolute_error
from sklearn.linear_model import LinearRegression

Dataset 1

In [60]:
features = ['year', 'votes', 'budget', 'gross', 'runtime', 'rating_PG', 'rating_R', 'genre_Action', 'genre_Adventure', 'genre_Comedy', 'genre_Drama', 'country_United Kingdom', 'country_United States', 'company_Columbia Pictures', 'company_Lucasfilm', 'company_Paramount Pictures', 'company_Warner Bros.']
target = 'score'

X = data1e[features]
y = data1e[target]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

LinearRegressor = LinearRegression()
LinearRegressor.fit(X_train, y_train)

y_pred = LinearRegressor.predict(X_test)

mse = mean_squared_error(y_test,y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse:.2f}")
print(f"R-squared: {r2:.2f}")

Mean Squared Error: 0.61
R-squared: 0.38

Dataset 2

In [ ]:
categorical_columns = ['director']
data2e = pd.get_dummies(data2, columns=categorical_columns)

features = data2e.drop(['score', 'type', 'show_id', 'title', 'date_added', 'duration', 'description', 'cast', 'rating', 'listed_in', 'country'], axis=1).columns
target = 'score'

X = data2e[features]
y = data2e[target]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)

LinearRegressor = LinearRegression()
LinearRegressor.fit(X_train_scaled, y_train)

y_pred = LinearRegressor.predict(X_test)

mse = mean_squared_error(y_test,y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse:.2f}")
print(f"R-squared: {r2:.2f}")

Dataset 3

In [63]:
categorical_columns = ['genre1', 'crew1']
data3e = pd.get_dummies(data3, columns=categorical_columns)

features = data3e.drop(['score', 'names', 'date_x', 'overview', 'orig_title', 'genre', 'crew', 'status', 'orig_lang', 'country'], axis=1).columns
target = 'score'

X = data3e[features]
y = data3e[target]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

LinearRegressor = LinearRegression()
LinearRegressor.fit(X_train, y_train)

y_pred = LinearRegressor.predict(X_test)

mse = mean_squared_error(y_test,y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse:.2f}")
print(f"R-squared: {r2:.2f}")

Mean Squared Error: 136.98
R-squared: 0.17

Dataset 4

In [64]:
categorical_columns = ['stars1']
data4e = pd.get_dummies(data4, columns=categorical_columns)

features = data4e.drop(['certificate', 'genre1', 'rating', 'year', 'title', 'description', 'duration', 'genre', 'stars'], axis=1).columns
target = 'rating'

X = data4e[features]
y = data4e[target]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

LinearRegressor = LinearRegression()
LinearRegressor.fit(X_train, y_train)

y_pred = LinearRegressor.predict(X_test)

mse = mean_squared_error(y_test,y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse:.2f}")
print(f"R-squared: {r2:.2f}")

Mean Squared Error: 0.99
R-squared: 0.23